.footer {
  background-color: var(--secondary-color);
  color: white;
  height: var(--footer-height);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.copyright {
  margin: 0;
  font-size: 0.9rem;
}

.footer-links {
  display: flex;
}

.footer-link {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.footer-link:hover {
  color: var(--gray);
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    padding: 10px 0;
  }
  
  .footer {
    height: auto;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-link {
    margin-left: 10px;
    margin-right: 10px;
  }
}